@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
}

.spike {
  color: #2b2b2b;
  font-family: 'Computer Modern Serif';
  font-style: italic;
  font-weight: bold;
}

.rules {
  color: #2b2b2b;
  font-family: 'Computer Modern Serif';
  font-style: italic;
  font-weight: bold;
}